<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div>
    {{template "Include/header.html" . }}
</div>
var ttt string

<h1>用户信息</h1>
<div class="container-fluid " >
    <table class="table">
        <thead class="table-success">
        <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>性别</th>
            <th>手机号</th>
            <th>地址</th>
            <th>是否生效</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {{range .Data}}
        <tr>
            <td>{{.Id}}</td>
            <td>{{.Name}}</td>
            <td>{{.Age}}</td>
            <td>{{.Gender}}</td>
            <td>{{.PhoneNum}}</td>
            <td>{{.Address}}</td>
            <td>{{.Available}}</td>
            <td>
                <button type="submit" class="btn btn-success" id="btn{{.Id}}" name="username" value={{.Id}} onclick="toModify('{{.Id}}')">修改</button>
                <button type="button" class="btn btn-danger">删除</button>
            </td>
        </tr>
        {{end}}
        <tr id="searchUser" >
            <td>{{.user.Id}}</td>
            <td>{{.user.Name}}</td>
            <td>{{.user.Age}}</td>
            <td>{{.user.Gender}}</td>
            <td>{{.user.PhoneNum}}</td>
            <td>{{.user.Address}}</td>
            <td>{{.user.Available}}</td>
            <td>
                <button type="submit" class="btn btn-success" id="btn{{.user.Id}}" name="username" value={{.user.Id}} onclick="toModify('{{.user.Id}}')">修改</button>
                <button type="button" class="btn btn-danger">删除</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<div class="fixed-bottom">
    {{template "Include/footer.html" . }}
</div>
<script>
    var uid='{{.user.Id}}'
    console.log(uid)
    var row = document.getElementById('searchUser');
    console.log(row)
    function toggleRowVisibility(rowId, stringValue) {
        if (!stringValue || stringValue.trim() === '') {
            // 如果字符串为空，隐藏行
            row.style.display = 'none';
        } else {
            // 如果字符串不为空，显示行
            row.style.display = '';
        }
    }
    toggleRowVisibility(row,uid)
function toModify(index) {
    //点击修改按钮跳转
    bid="btn"+index
    console.log(bid)
    document.getElementById(bid).onclick = function () {
        //获取参数
        var parames = this.value
        window.location.href = 'http://localhost:8080/modify?userid='+parames;
    }
}
</script>
</body>
</html>