<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改用户</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
</head>
<body>
<div>
    {{template "Include/header.html" . }}
</div>
<div class="container-fluid mb=3">
    <form  id="myForm" enctype="multipart/form-data" method="post">
        <div class="mb-3 mt-3 col-3">
            <label for="name" class="form-label ">ID：</label>
            <input type="text" class="rounded-2 float-lg-end" id="id" value={{.userinfo.Id}} name="id">
        </div>
        <div class="mb-3 mt-3 col-3">
            <label for="name" class="form-label ">姓名：</label>
            <input type="text" class="rounded-2 float-lg-end" id="name" value={{.userinfo.Name}} name="name">
        </div>
        <div class="mb-3  col-3">
            <label for="gender" class="form-label ">性别：</label>
            <select class="select col-6 float-lg-end rounded-2" id="gender" name="gender" >
                <option value="男">男</option>
                <option value="女">女</option>

            </select>
        </div>
        <div class="mb-3 mt-3  col-3">
            <label for="age" class="form-label">年龄：</label>
            <input type="text" class="rounded-2 float-lg-end" id="age" value={{.userinfo.Age}} name="age">
        </div>
        <div class="mb-3 mt-3  col-3">
            <label for="phoneNum" class="form-label">手机号：</label>
            <input type="text" class="rounded-2 float-lg-end" id="phoneNum" value={{.userinfo.PhoneNum}} name="phoneNum">
        </div>
        <div class="mb-3 mt-3  col-3">
            <label for="phoneNum" class="form-label">电子邮箱:</label>
            <input type="text" class="rounded-2 float-lg-end" id="email" value={{.userinfo.Email}} name="email">
        </div>
        <div class="mb-3 mt-3  col-3">
            <label for="address" class="form-label">地址：</label>
            <input type="text" class="rounded-2 float-lg-end" id="address" value={{.userinfo.Address}} name="address">
        </div>
        <div class="mb-3  col-3">
            <label for="pwd" class="form-label">密码：</label>
            <input type="password" class="rounded-2 float-lg-end" id="pwd" value={{.userinfo.PassWord}} name="pwd">
        </div>
        <div class="mb-3  col-3">
            <label for="pwdok" class="form-label">确认密码：</label>
            <input type="password" class="rounded-2 float-lg-end"  id="pwdok" value={{.userinfo.PassWord}} name="pwdok">
        </div>
<!--        <div class="mb-3  col-3">-->
<!--            <input type="file" class="form-control-file" id="image" name="image" placeholder="上传头像">-->
<!--        </div>-->
        <div class="mb-3  col-3">
            <button type="submit" class="btn btn-primary">提交</button>
            <button type="reset" class="btn btn-danger">重置</button>
        </div>
    </form>
</div>
<script>
    var gd = '{{.userinfo.Gender}}'

    document.getElementById('gender').value = gd;
    $('#select').select().attr("select", gd)

</script>
<div class="fixed-bottom">
    {{template "Include/footer.html" . }}
</div>
</body>
</html>