<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>公共头部</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/bootstrap.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)">首页</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">链接</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">链接</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">链接</a>
                </li>
            </ul>
            <form class="d-flex" action="/index" >
                <input class="form-control me-2" type="text" placeholder="Search" name="searchname">
                <button class="btn btn-primary me-5" type="submit">Search</button>
                <a id="logout" class="navbar-brand" href="http://localhost:8080/logout"  data-bs-toggle="popover" data-bs-trigger="focus" onclick="logout()" data-bs-content="退出">
                    <img src="{{.image}}" alt="Avatar Logo" style="width:40px;" class="rounded-pill me-3">
                </a>
            </form>
        </div>
    </div>
</nav>

<script>
    function logout(){
        document.getElementById('logout').submit()
    }

</script>
</body>
</html>